{% extends "blog/base.html" %}
{% block content %}
	<h1>About Page!</h1>



	<p>Support</p>
	<p>Privacy policy</p>
	<p>Website terms of use</p>
	<p>Legal</p>
	<p>About rarings</p>
	<p>Careers</p>
	<p>Developers</p>
	<p>Site map</p>

	<div class="border-top pt-3">
		<small class="text-muted">
		<h5>Follow us on social media </h5>
		<p>#V6 PLAYSTATION</p>
		<p><a class="ml-2" href="{% url 'login' %}">Facebook</a></p>
		<p><a class="ml-2" href="{% url 'login' %}">Twitter</a></p>
		<p><a class="ml-2" href="{% url 'login' %}">Youtube</a></p>
		<p><a class="ml-2" href="{% url 'login' %}">Instagram</a></p>
		</small>
	</div>
	
	
	
{% endblock content %}
